* {
  margin: 0;
  padding: 0;
}

body {
  background: url(game1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.card {
  width: 490px;
  height: 554px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 20px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  margin: 85px 34%
}

.card__content {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.item-scroll {
  overflow: hidden;
  overflow-y: scroll;
  width: 400px;
  height: 420px;
  position: absolute;
  margin: 20px 40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #45f7fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #025f6b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item-card {
  width: 100%;
  /* height: 100px; */
  background: #000622;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: #9b90ff;
  border: 2px solid;
  margin-bottom: 5px;
  overflow:hidden;
}

.skin-price {
  margin: -60px 310px;
  position: absolute;
  font-size: 30px;
}

.skin-name {
  font-size: 30px;
  margin: 10px 5px;
  /* position: absolute; */
  overflow: hidden;
}

.Item-name {
  height: 20px;
  width: 220px;
  position: absolute;
  margin: 20px 30px;
  border-radius: 15px;
  background: none;
  border-color: #00DDEB;
  border-style: solid;
  border-width: 4px;
  transition: .5s;
  color: #ffffff;
  padding: 1.5rem;
  font-size: 20px;
}

.Item-name:focus {
  scale: 1.1;
  background-color: rgb(3, 3, 28);
  box-shadow: 5px 5px 20px #5B42F3;
}

button {
  position: absolute;
  background-color: #00dbeb00;
  border: 2px solid #008c96;
  color: #ffffff;
  padding: .5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  transition: .5s;
}

.add {
  margin: 475px 50px;
  border-radius: 5px;
  font-size: 30px;
}

.remove {
  margin: 475px 135px;
  border-radius: 5px;
  font-size: 30px;
}

.home {
  position: absolute;
  margin: 475px 365px;
  border-radius: 5px;
  font-size: 40px;
  width: 70px;
  background-color: #07004700;
  border: 2px solid #008c96;
  text-align: center;
}


.popup-add {
  width: 290px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  position: absolute;
  margin: 250px 220px;
}

.popup-content-add {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.price-limit {
  height: 20px;
  width: 220px;
  position: absolute;
  margin: 90px 30px;
  border-radius: 15px;
  background: none;
  border-color: #00DDEB;
  border-style: solid;
  border-width: 4px;
  transition: .5s;
  color: #ffffff;
  padding: 1.5rem;
  font-size: 20px;
}

.add-pop {
  margin: 190px 10px;
  border-radius: 5px;
}

.cancel-pop {
  margin: 190px 200px;
  border-radius: 5px;
}


.popup-remove {
  width: 290px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  position: absolute;
  margin: 250px 1025px;
}

.popup-content-remove {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.remove-pop {
  margin: 190px 10px;
  border-radius: 5px;
}

.cancel-pop {
  margin: 190px 200px;
  border-radius: 5px;
}

@media (min-width:2800px) and (max-width:3000px) {
  .card {
    scale: 1.8;
    margin: 350px 1180px;
  }

  .popup-add {
    scale: 1.8;
    margin: 500px 560px;
  }

  .popup-remove {
    scale: 1.8;
    margin: 500px 2000px;
  }

}

@media (min-width:2500px) and (max-width:2799px) {
  .card {
    scale: 1.8;
    margin: 350px 1080px;
  }

  .popup-add {
    scale: 1.8;
    margin: 500px 460px;
  }

  .popup-remove {
    scale: 1.8;
    margin: 500px 1900px;
  }

}


@media (max-width:2499px) {
  .card {
    scale: 1.5;
    margin: 350px 800px;
  }

  .popup-add {
    scale: 1.5;
    margin: 500px 280px;
  }

  .popup-remove {
    scale: 1.5;
    margin: 500px 1520px;
  }

}

@media (max-width:2000px) {

  .card {
    scale: 1.1;
    margin: 150px 700px;
  }

  .popup-add {
    scale: 1.1;
    margin: 300px 360px;
  }

  .popup-remove {
    scale: 1.1;
    margin: 300px 1240px;
  }

}

@media (max-width:1750px) {

  .card {
    scale: 1.1;
    margin: 150px 600px;
  }

  .popup-add {
    scale: 1.1;
    margin: 300px 260px;
  }

  .popup-remove {
    scale: 1.1;
    margin: 300px 1140px;
  }

}

@media (max-width:1600px) {

  .card {
    scale: 1;
    margin: 50px 500px;
  }

  .popup-add {
    scale: 1;
    margin: 200px 200px;
  }

  .popup-remove {
    scale: 1;
    margin: 200px 1000px;
  }

}

@media (max-width:1400px) {

  .card {
    scale: 1;
    margin: 50px 400px;
  }

  .popup-add {
    scale: 1;
    margin: 200px 100px;
  }

  .popup-remove {
    scale: 1;
    margin: 200px 900px;
  }

}

@media (max-width:1200px) {
  .btn {
    margin: -7px 93%;
  }

  .card {
    scale: .8;
    margin: 50px 350px;
  }

  .popup-add {
    scale: .8;
    margin: 200px 120px;
  }

  .popup-remove {
    scale: .8;
    margin: 200px 780px;
  }
}

@media (max-width:1100px) {
  .btn {
    margin: -7px 93%;
  }

  .card {
    scale: .7;
    margin: 50px 250px;
  }

  .popup-add {
    scale: .7;
    margin: 200px 70px;
  }

  .popup-remove {
    scale: .7;
    margin: 200px 630px;
  }
}

@media (max-width:940px) {
  .btn {
    margin: -7px 90%;
  }

  .card {
    scale: 1;
    margin: 50px 180px;
  }

  .popup-add {
    scale: 1;
    margin: 200px 280px;
  }

  .popup-remove {
    scale: 1;
    margin: 200px 280px;
  }
}

@media (max-width:690px) {
  .btn {
    margin: -7px 87%;
  }

  .btn {
    margin: -7px 90%;
  }

  .card {
    scale: 1;
    margin: 50px 100px;
  }

  .popup-add {
    scale: 1;
    margin: 200px 200px;
  }

  .popup-remove {
    scale: 1;
    margin: 200px 200px;
  }

}